<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
		<script>
			hljs.initHighlightingOnLoad();
			document.onload = function() {
				document.getElementById("frame").onload = function() {
				this.height = this.contentWindow.document.documentElement.scrollHeight;
				}
			}
		</script>
		<style>
			iframe {
				width: 100%;
			}
		</style>
	</head>
	<body>
		<div class="link"><a href="{{.SnippetURL}}">Open in bitbucket snippets</a></div>
		<div class='index'>
			<h1>{{.Title}}</h1>
			<iframe id="frame" src="{{.RawURL}}"></iframe>
			<div class='link'><a href="{{.RawURL}}">Open</a></div>
		</div>
		{{range $title, $body := .Files}}
		<div class='src'>
			<h2>{{$title}}</h2>
			<pre><code>{{$body}}</code></pre>
		</div>
		{{end}}
	</body>
</html>
