<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Name}} - bitbucket-snippets-web</title>
	</head>
	<body>
		<h1>{{.Name}}</h1>
		{{range $i, $snippet := .Snippets}}
		<a href="./{{$snippet.ID}}"><div style="display: inline-block; padding: 5pt;border: 1px solid; border-radius: 5pt;">
				{{ if eq $snippet.Title "" }}
				{{$snippet.ID}}
				{{ else }}
				{{$snippet.Title}}
				{{ end }}
			</div></a>
		{{end}}
	</body>
</html>
